@import "../../../styles/index.scss";

.background {
  :global(.MuiButton-root) {
    text-transform: none;
    background: $indigoColor;
    color: $commonWhite;
    border-radius: 15px;
    &:hover {
      background: $indigoColor;
      opacity: 0.7;
    }
  }
}
